@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*Edição da Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  background-color: #f8f7f4;
}
::-webkit-scrollbar-thumb {
  background: #11a65f;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f7f4;
}

h2 {
  font-weight: 800;
  font-family: "Barlow", serif;
  color: #1f2041;
}

summary {
  font-weight: 700;
  font-family: "Barlow", serif;
  color: #1f2041;
}

p,
h3 {
  font-family: "Inter", serif;
  color: #1f2041;
}

u {
  text-decoration: underline;
}

.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  background-color: #1f2041;
  padding: 7px;
}

.notice img {
  width: 17px;
}

.notice p {
  color: #fff;
}
