/* RESPONSIVE FOOTER*/

@media (max-width: 950px) {
  /*TOP*/
  .background-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .set-top {
    width: 95%;
  }

  .set-background-content {
    width: 95%;
  }

  /* RESPONSIVE FOOTER*/
  .footer .left {
    width: 50%;
    padding: 0 30px 0 10px;
  }

  .footer .left img {
    width: 80px;
  }

  .footer .right {
    width: 50%;
    padding: 0 10px 0 30px;
  }
}

@media (max-width: 870px) {
  .section-depoimentos {
    margin: 20px 0;
  }
}

@media (max-width: 800px) {
  .text-attention .title h2 {
    font-size: 40px;
  }

  .section-quebra-objecoes {
    margin: 0 0;
  }
  .section-quebra-objecoes .box-quebra-objecoes {
    gap: 10px;
  }

  .section-quebra-objecoes .box-quebra-objecoes h2 {
    font-size: 22px;
  }

  .section-para-quem-e {
    margin: 30px 0px;
  }

  .section-para-quem-e .card-para-quem-e {
    gap: 10px;
    padding: 10px 20px;
  }
  .section-para-quem-e .card-para-quem-e img {
    width: 20px;
  }

  .section-para-quem-e .card-para-quem-e p {
    font-size: 14px;
    color: #fff;
  }
}

@media (max-width: 750px) {
  .text-attention .title {
    color: #000;
    padding: 15px;
    width: 100%;
    text-align: center;
  }
  .reviews {
    flex-direction: column;
  }
  .box-review {
    width: 80%;
    gap: 10px;
  }
  .box-review .descript {
    font-size: 16px;
  }
  .box-review .perfil p {
    font-size: 16px;
  }
  /* RESPONSIVE FOOTER*/
  .footer {
    padding: 30px;
  }
  .footer .left {
    padding: 0 30px 0 10px;
  }

  .footer .left img {
    width: 80px;
  }

  .footer .right {
    padding: 0 10px 0 30px;
  }
}
@media (max-width: 650px) {
  .secao-dupla {
    flex-direction: column;
    margin: 30px 0;
    gap: 10px;
  }
  .secao-dupla .box-primary h2 {
    font-size: 22px;
  }

  .secao-dupla .box-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    margin: 10px 0;
    width: 90%;
    height: auto;
  }

  .secao-dupla .box-primary img {
    width: 300px;
  }

  .section-quebra-objecoes {
    margin: 20px 0;
    flex-direction: column;
    gap: 20px;
  }

  .section-quebra-objecoes .box-quebra-objecoes {
    gap: 20px;
  }

  .section-para-quem-e {
    flex-direction: column;
    gap: 20px;
  }

  .section-para-quem-e .card-para-quem-e {
    width: 80%;
    padding: 20px 20px;
  }
  .section-para-quem-e .card-para-quem-e img {
    width: 20px;
  }

  .section-para-quem-e .card-para-quem-e p {
    font-size: 16px;
    color: #fff;
  }

  .section-garantia {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .section-garantia .garantia-content {
    gap: 10px;
  }

  .section-garantia .garantia-content h2 {
    text-align: center;
    font-size: 35px;
  }

  .section-depoimentos {
    flex-direction: column;
    gap: 25px;
    margin: 20px 0px;
  }

  .section-depoimentos .box-depoimento {
    gap: 5px;
    width: 95%;
  }

  .text-attention .descript {
    width: 90%;
    margin-top: -25px;
    text-align: center;
  }

  .box-problems .line-red {
    width: 90%;
  }
  .box-primary .line-black {
    width: 90%;
  }

  .box-solucao .line-black {
    width: 90%;
  }

  .title-2 p {
    width: 90%;
  }
  .title-cta h2 {
    width: 95%;
  }
  .title-cta p {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .text-attention .title {
    color: #000;
    padding: 15px;
    width: 90%;
    text-align: center;
  }

  .text-attention .sub-title {
    width: 80%;
  }

  .text-attention .sub-title p {
    font-size: 10px;
    color: #fff;
  }

  .text-attention .title h2 {
    font-size: 30px;
  }

  .text-attention .descript p {
    font-size: 15px;
  }

  .box-problems {
    padding: 40px 25px;
  }

  .box-problems h2 {
    color: #1f2041;
    text-align: center;
    font-size: 25px;
  }

  .box-problems .list-problems .content-list {
    margin: 0 0;
  }

  .box-problems .list-problems .content-list img {
    width: 25px;
  }

  .box-primary {
    padding: 40px 25px;
  }
  .box-primary h2 {
    font-size: 25px;
  }

  .box-primary .list-beneficios .content-list {
    margin: 0 0;
  }

  .citacao p {
    font-size: 16px;
  }

  .box-primary .list-beneficios .content-list-2 {
    margin: 0 0;
  }
  .box-primary .list-beneficios .content-list-2 img {
    width: 25px;
  }

  .box-solucao {
    padding: 40px 25px;
  }
  .box-solucao h2 {
    font-size: 25px;
  }
  .box-solucao .list-beneficios .content-list-2 {
    margin: 0 0;
  }

  .title-2 h2 {
    color: #1f2041;
    text-align: center;
    font-size: 25px;
  }

  .review-1 .icon {
    width: 60px;
    border-radius: 999px;
  }
  .section-para-quem-e .card-para-quem-e p {
    font-size: 15px;
  }

  .section-garantia .garantia-content h2 {
    font-size: 30px;
  }
  .title-cta h2 {
    font-size: 25px;
  }
  .box-cta {
    padding: 40px 10px;
  }
  .box-cta h2 {
    font-size: 25px;
  }
  .box-cta .preco p {
    font-size: 13px;
  }
  .box-cta .preco h2 {
    font-size: 35px;
    color: #fff;
    text-align: center;
  }

  .title-faq h2 {
    font-size: 25px;
  }

  .section-depoimentos .box-depoimento {
    gap: 5px;
    width: 90%;
  }
}

@media (max-width: 300px) {
  .set-top {
    width: 90%;
  }

  .set-background-content {
    width: 90%;
  }

  .section-garantia .garantia-image img {
    width: 180px;
  }

  .secao-dupla .box-primary img {
    width: 85%;
  }
  .text-attention .sub-title {
    width: 80%;
  }

  .text-attention .title h2 {
    font-size: 25px;
  }

  .text-attention .descript p {
    font-size: 15px;
  }

  .box-problems {
    padding: 40px 20px;
  }

  .box-primary {
    padding: 40px 20px;
  }

  .box-solucao {
    padding: 40px 20px;
  }

  .section-depoimentos .box-depoimento {
    gap: 5px;
    width: 85%;
  }
}
